<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <i class="fa-regular fa-thumbs-up" ></i>
                <a href="/">ISSUE TRACKER</a>

                <a class="pro" href="/show/bug">Project's Bugs</a>

            </p>
        </div>
    </nav>
</header>