<div class="bodyPro">

    <div class="newPro">
        <form  action=""  method="post">
            <div>
                <label class="PName"> Title</label>
                <input type="text" name="title" placeholder="Title" required><br>
            </div>
          
            <div>
                <label class="Desc">Description</label>
                <input type="text" name="Description" placeholder="Description" required><br>
            </div>
          
            <div>
                <label class="AName">Author </label>
                <input type="text" name="Author" placeholder="Author " required><br>
            </div>

           <input class="btn" type="submit" value="Create Issue">
        </form>
   </div>

</div>