<link rel="stylesheet" href="/css/project_bugs.css">

<h2 class="Fres">FILTERED RESULT</h2>
<div id="projects">
    <ul>
        <% for(let project of array ){ %>
            <li>

                <a href="/users/destroy/<%= project.id %>">X</a>

                <div class="ProNamecss">
                   Project Name - <%= project.ProjectName %>
                </div>

                <div class="Desccss">
                   Description - <%= project.Description %>
                </div>

                <div class="AuthorNamecss">
                   Author - <%= project.Author %>
                </div>
               

            </li>
        <% } %>
    </ul>
  
</div>
