<link rel="stylesheet" href="/css/newProject.css">
<div class="bodyPro">

    <div class="newPro">
        <form action="/users/addProject"  method="post">
            <div>
                <label class="PName">Project Name</label>
                <input type="text" name="ProjectName" placeholder="Project Name" required><br>
            </div>
          
            <div>
                <label class="Desc">Description</label>
                <input type="text" name="Description" placeholder="Description" required><br>
            </div>
          
            <div>
                <label class="AName">Author Name</label>
                <input type="text" name="Author" placeholder="Author Name" required><br>
            </div>
          
           <input class="btn" type="submit" value="Create Project">
        </form>
   </div>

</div>
